<div class="d-flex" id="nav-div">
    <nav class="row contents" id="navigation">
        <div class="col-lg-6 col-4 link-divs">
            <a data-id="jogo" href="./index.html">
                <fa-icon [icon]="faPlay" class="links"></fa-icon>
                <span class="link-spans">jogar</span>
            </a>
        </div>    
        <div class="col-lg-6 col-4 link-divs">
            <a data-id="instrucoes" href="./pages/info-page.html">
                <fa-icon [icon]="faInfo" class="links"></fa-icon>
                <span class="link-spans">como jogar</span>
            </a>
        </div>
        <div class="col-lg-12 col-4 link-divs">
            <a data-id="configuracoes" href="./pages/config-page.html">
                <fa-icon [icon]="faGear" class="links"></fa-icon>
                <span class="link-spans">configurações</span>
            </a>
        </div>
    </nav>
</div>