<div class="d-flex" id="nav-div">
    <nav class="row contents" id="navigation">
        <div class="col-12 link-divs">
            <a *ngFor="let link of links" 
                [routerLink]="link.path"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: link.exact ?? true }"
                #rla="routerLinkActive">

                <fa-icon class="links" [icon]="link.icon" [ngClass]="{ active: rla.isActive }" ></fa-icon>
                <span class="link-spans" [ngClass]="{ active: rla.isActive }">{{ link.label }}</span>
            </a>
        </div>    
    </nav>
</div>