<div id="buttons" class="row">
    <button 
        title="CONFIRMAR" 
        type="button" 
        class="command-button" 
        id="execute-operation" 
        alt="CONFIRMAR"
        (click)="execute.emit()">
            <fa-icon [icon]="faCheck"></fa-icon>
    </button>
    <button 
        title="APAGAR" 
        type="button" 
        class="command-button" 
        id="cancel-operation" 
        alt="APAGAR" 
        (click)="cancel.emit()">
        <fa-icon [icon]="faEraser"></fa-icon>
    </button>
    <button 
        title="RECOMEÇAR" 
        type="button" 
        class="command-button" 
        id="restart-game" 
        alt="RECOMEÇAR" 
        (click)="restart.emit()">
        <fa-icon [icon]="faArrowsRotate"></fa-icon>
    </button>
</div>