/* Definições padrão */
@use "variables.scss";

* {
    color: variables.$main-color;
    box-sizing: border-box;
    background-color: unset;
    border: unset;
}

body {
    background-color: variables.$bg-color;
    padding: 0;
    height: 90vh;
    width: 100vw;
}

#header {
    flex-direction: column;
    align-items: center;
    margin-top: .5em;
}
   
.contents {
    border: .1em solid;
    margin-top: 1em;
    padding: .5em;
    max-height: 80%;
    border-radius: 1em;
}
