/* global variables */
$main-color: rgba(0, 6, 45, 0.7);
$bg-color: rgba(250, 249, 248, 0.9);
$link-hover: rgba(4, 39, 64, 0.5);
$bg-color-hover: rgba(7, 113, 140, 0.4);
$op-color: rgba(56, 113, 3, 0.5);
$buttons-hover-color: rgba(181, 241, 0, 0.8);
$content-color: rgba(103, 206, 6, 0.847);
$not-selected-color: rgba(240, 80, 90, 0.8);
$ending-time-color: rgba(211, 22, 1, 0.566);

/*clock variables*/
$clock-bg: rgba(90, 180, 190, .4);
$clock-pointer: rgba(3, 28, 91, 0.8);
$clock-pointer-head: rgba(200, 20, 20, .7);
// not active
$not-active-color: rgba(180, 190, 190, .3);